[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "amapro"]
	path = amapro
	url = https://github.com/helgasoft/amapro
[submodule "echarty"]
	path = echarty
	url = https://github.com/helgasoft/echarty
